<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leads Details</title>
  </head>
  <body>
    <a href="/APP1/leads">Go Back to Leads</a>
    <hr />
    <h1>This is our Lead {{leads.firstName}} {{leads.lastName}}</h1>
    <p>Age is {{leads.age}}</p>
    <p>Agent is {{leads.agent.firstName}} {{leads.agent.lastName}}</p>
    <p>The Value is {{test}}</p>
    <hr />
    <a href="/APP1/leads_details/{{leads.id}}/update">Update</a>
    <a href="/APP1/leads_details/{{leads.id}}/delete">Delete</a>
  </body>
</html>
